.appchat {
  z-index: 999;
}
.openchat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 200px;
  background: #d70018;
  color: white;
  padding: 0.5rem 0;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatuser {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 450px;
  width: 330px;
  border: 1px solid #eee;

  display: flex;
  flex-direction: column;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  background: #fff;
  z-index: 999;
}
.chatuser-user {
  height: 25px;
  display: flex;
  align-items: center;
  padding: 1.5rem 0.5rem;

  box-shadow: 0px 3px 4px -4px;
  border-bottom: 1px solid #eee;
}
.chatuser-user-name {
  flex-grow: 1;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
}
.chatuser-user-line {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.chatuser-user-line:hover {
  background: #ddd;
  transition: 0.3s;
}
.chatuser-listmessage {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0.5rem;

  overflow-y: auto;
}
.chatuser-listmessage-message {
  display: flex;
  word-break: break-word;
  padding: 0.25rem;
}
.chatuser-listmessage-message p {
  padding: 8px;
  background: #e4e6eb;
  max-width: 200px;
  margin-top: 0.2rem;
  border-radius: 20px;
  text-align: left;
}
.chatuser-listmessage-message.me {
  justify-content: flex-end;
}
.chatuser-listmessage-message.me p {
  background: #d70018;
  color: white;
}
.chatuser-typemessage {
  display: flex;
  padding: 1rem 0.5rem;
  border-top: 1px solid #eee;
  box-shadow: 0px 3px 4px -4px;
}
.chatuser-typemessage input {
  width: 100%;
  padding: 0.3rem 1rem;
  outline: none;
  border: 1px solid #ddd;
}
.chatuser-typemessage button {
  background: #d70018;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
