/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-50: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */

  --border-radius: 0.25rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* DARK MODE */

  --dark-mode-bg-color: #333;
  --dark-mode-text-color: #f0f0f0;
  --dark-mode-bg-secondary-color: #3f3f3f;
  --dark-mode-text-secondary-color: var(--grey-300);

  --background-color: var(--grey-50);
  --text-color: var(--grey-900);
  --background-secondary-color: var(--white);
  --text-secondary-color: var(--grey-500);
}

.dark-theme {
  --text-color: var(--dark-mode-text-color);
  --background-color: var(--dark-mode-bg-color);
  --text-secondary-color: var(--dark-mode-text-secondary-color);
  --background-secondary-color: var(--dark-mode-bg-secondary-color);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: linear-gradient(#f52f32, #e11b1e);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
button:disabled {
  cursor: wait;
}
.danger-btn {
  color: var(--red-dark);
  background: var(--red-light);
}
.danger-btn:hover {
  color: var(--white);
  background: var(--red-dark);
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* alert */

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--background-secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  line-height: 1.5;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--background-color);
  border: 1px solid var(--grey-300);
  color: var(--text-color);
}
.form-input,
.form-select,
.form-btn {
  height: 35px;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  width: 1100px;
  height: 700px;
  display: grid;
  place-items: center;
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: #e11b1e;
  animation: spinner 0.6s linear infinite;
}

/* BUTTONS AND BADGES */
/* .pending {
  background: #fef3c7;
  color: #f59e0b;
} */

.is-flex {
  display: flex;
  gap: 1rem;
}
a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* blog css------------------------ */
/* .comment{
  margin-top: 1rem;
}
.comment-area textarea{
  padding: 10px;
  width: 1000px;
  height: 112px;
  outline: none;
  border: 1px solid #eee;
}
.comment-send {
  margin-top: 1rem;
}
.comment-send button{
  padding: 5px 25px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #e11b1e;
  border-radius: 4px;
  background: #e11b1e;
  margin: 0;

  outline: none;
  cursor: pointer;
}

.all-comment{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.all-comment-info{
  display: flex;
}

.all-comment-info span{
  background: #e11b1e;
  font-weight: 500;
  padding: .1rem .2rem;
  color: white;

  line-height: 25px;
}
.all-comment-info-name{
  width: 25px;
  height: 25px;
  background: #ddd;
  margin-right: 7px;
  text-align: center;
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 26px;
  font-weight: 600;
}

.all-comment-info-name.admin{
  background: none;
}
.all-comment-info-name.admin img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.all-comment-content, .all-comment-more{
  display: flex;
  margin-left: 2rem;
  padding: 0.5rem 0;
}
.all-comment-more{
  display: flex;
  margin-left: 2rem;
  padding: 0.3rem 0;
}
.all-comment-more-chat{
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-comment-more-chat p{
  margin-bottom: 0;
  color: #e11b1e;
  margin-left: 1rem;
}

.all-comment-rep-list{
  position: relative;
  background: #eee;
  width: calc(100% - 30px);
  float: right;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 1rem;
}
.arrow-up {
  position: absolute;
  top: -6px;
  left: 33px;
  width: 10px;
  height: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid #eee;
}

.all-comment-rep-list-item{
  padding-top: 1rem;
  border-bottom: 1px solid #ddd;
}
.all-comment-rep-list-item:nth-child(1){
  padding-top: 0;
} */
